@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
.Topo {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;

}
.Topo > img {
    width: 500px;
    height: 600px;
}
.Topo > button {
    width: 175px;
    height: 50px;
    border-radius: 5px;
    margin-top: 50px;
    background-color: #27ae60;
    color: #ffffff;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}
.letras {
    margin: 0 650px 0 650px;
    flex-wrap: wrap;
}
.letras > button {
    width: 40px;
    height: 35px;
    background-color: #9faab5;
    margin: 0 5px 5px 0;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;

}
.Bottom {
    margin: 50px 0 0 700px;

}
.Bottom > input {
    margin: 0 15px 0 15px;
    
    
}
.Bottom > button {
    width: 70px;
    height: 30px;
    border-radius: 8px;
    background-color: #e1ecf4;
    color: #39739d;
    font-family: 'Roboto', sans-serif;

}
/* .words {
    
} */
.cor{
    background-color: red;
}
.cor1{
    color: gre;
}